body {
    background-color: black;
}
.space {
    background: url("space.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: auto;
}
.planet {
    position: absolute;
    width: 450px;
    height: auto;
    bottom: 0;
    z-index: 2;
}
.rocket {
    position: relative;
    transform: rotate(35deg);
    width: 200px;
    height: auto;
    top: 43vh;
    left: 200px;
    z-index: 3;
}
.control-panel {
    background-color: dimgrey;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 400px;
    height: 450px;
    border-radius: 25px;
}
.flex-container {
    display: flex;
    border-radius: 10px;
    width: 360px;
    background-color: aliceblue;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex-item {
    display: flex;
}
.check-buttons {
    height: 70px;
    position: absolute;
    top: 100px;
    right: 20px;
}
.levers {
    height: 150px;
    position: absolute;
    top: 200px;
    right: 20px;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
input[type="range"] {
    transform: rotate(90deg);
    width: 60px;
    height: 150px;
}
input[type="textbox"] {
    border-radius: 5px;
    height: 40px;
    width: 230px;
    position: absolute;
    left: 20px;
    top: 30px;
}
input[type="button"] {
    background-color: aliceblue;
    position: absolute;
    color: blue;
    border-radius: 10px;
    width: 70px;
    height: 40px;
}
#ok-button {
    position: absolute;
    right: 20px;
    top: 30px;
}
#launch-button {
    position: absolute;
    bottom: 20px;
    left: 165px;
}
