body {
    background-color: black;
}
.space {
    background: url("space.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: auto;
}
.planet {
    position: absolute;
    width: 450px;
    height: auto;
    bottom: 0;
    z-index: 2;
}
.rocket {
    position: absolute;
    transform: rotate(35deg);
    width: 200px;
    height: auto;
    bottom: 27vh;
    left: 200px;
    z-index: 3;
}
.control-panel {
    position: absolute;
    width: 360px;
    height: 410px;
    top: 100px;
    right: 60px;
    background: repeating-linear-gradient(
            45deg,
            black,
            black 20px,
            yellow 20px,
            yellow 30px
    );
    border-radius: 5px;
}
.control-panel__inner {
    background-color: black;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 320px;
    height: 370px;
    border-radius: 5px;
}
.flex-container {
    display: flex;
    border-radius: 10px;
    width: 280px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex-item {
    display: flex;
}
.check-buttons {
    height: 40px;
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: black;
}
.levers {
    height: 150px;
    position: absolute;
    top: 130px;
    right: 20px;
    background-color: black;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
input[type="range"] {
    transform: rotate(90deg);
    width: 55px;
    background: yellow;

}
input[type="password"] {
    border-radius: 5px;
    height: 30px;
    width: 190px;
    position: absolute;
    left: 20px;
    top: 30px;
    border-color: yellow;
    background-color: black;
    border-width: 3px;
    color: yellow;
}
input[type="button"] {
    background-color: red;
    position: absolute;
    width: 70px;
    height: 30px;
}
#ok-button {
    position: absolute;
    right: 20px;
    top: 30px;
    background-color: yellow;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
}
#launch-button {
    position: absolute;
    bottom: 20px;
    left: 110px;
    background-color: red;
    border-color: white;
    color: white;
    border-radius: 50%;
    height: 60px;
    width: 100px;
    border-width: 3px;
    font-size: medium;
    font-weight: bold;
}
